version: '3'

services:

  jenkins:
    # build: . # if you don't have registry uncomment this
    image: docker.localhost:5000/jenkins-with-docker:jdk11
    extra_hosts:
    - docker.localhost:host-gateway
    ports:
    - 8080:8080
    volumes:
    - ./jenkins_home:/var/jenkins_home
    - /var/run/docker.sock:/var/run/docker.sock

